body {
  margin: 0;
  font-family: system-ui, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer {
  font-size: 4rem;
  margin: 20px, 0;
}

.buttons button {
  margin: 6px;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.mode {
  margin-top: 12px;
  opacity: 0.7;
}